@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Oswald:wght@500&display=swap');

/* Ajustes Bootstrap */
* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

div.container-fluid {
    padding: 0;
}

/* Conteúdo principal */
body {
    background-color: white;
    font-family: 'Lato', sans-serif;
}


.container-main {
    width: 100vw;
}

/* application grid system */
#header {
    width: 100%;
    background-color: #483A20;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    color: white;
}

#hRight{
    flex: 50%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding: 10px;
}

#barColor {
    height: 30px;
    background-color: #FFC300;
}

.hRight{
    margin-left: 20px;
}

#hLeft{
    flex: 50%;
    align-self: start;
}

#brefTitle {
    color: #FFC300;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 25px;
}

#formulary{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    align-content: center;
    flex: 50%;
}

#middle {
    align-content: center;
}

#title{
    color: black;
    font-weight:bolder;
    align-content: center;
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: center;
}

.separator{
    flex: 40%;
}

#main{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.containerInfos{
    align-content: center;
    padding: 0;
}

.titleInfo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.inputInfo {
    padding: 8px;
    font-size: 22px;
    border-radius: 5px;
    border-color: gray;
    margin-bottom: 25px;
    width: 100%;
}

#msgInput{
    height: 100px;
    width: 100%;
}

#separatorForm {
    display: flex;
    flex-direction: row;
}

#StarSelect {
    margin-left: 100px;
    margin-bottom: 20px;
}

.nota {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    margin-top: -20px;
}

.btn#enviar {
    background-color: #483A20;
    color: white;
    border-radius: 10px;
    width: 104%;
    border-color: transparent;
    padding: 10px;
    align-items: center;
}

/* Colocando as estrelas */
/* fonte: https://stackoverflow.com/questions/22569961/star-rating-radio-buttons-css */
.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    height: 50px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }
  .star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    /* width: 20%; remove this */
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }
  .star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    /* width: 20%; remove this */
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
  }
  .star-rating input:hover + i,
  .star-rating input:checked + i {
    opacity: 1;
  }
  .star-rating i ~ i {
    width: 40%;
  }
  .star-rating i ~ i ~ i {
    width: 60%;
  }
  .star-rating i ~ i ~ i ~ i {
    width: 80%;
  }
  .star-rating i ~ i ~ i ~ i ~ i {
    width: 100%;
  }
  ::after,
  ::before {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
  }
  
  .star-rating.star-5 {width: 250px;}
  .star-rating.star-5 input,
  .star-rating.star-5 i {width: 20%;}
  .star-rating.star-5 i ~ i {width: 40%;}
  .star-rating.star-5 i ~ i ~ i {width: 60%;}
  .star-rating.star-5 i ~ i ~ i ~ i {width: 80%;}
  .star-rating.star-5 i ~ i ~ i ~ i ~i {width: 100%;}
  
  .star-rating.star-3 {width: 150px;}
  .star-rating.star-3 input,
  .star-rating.star-3 i {width: 33.33%;}
  .star-rating.star-3 i ~ i {width: 66.66%;}
  .star-rating.star-3 i ~ i ~ i {width: 100%;}