body {
	background: #FFFFF4;
	color: #483A20;
	font-family: 'Lato', sans-serif;
}
.container {
	display: grid;
	grid-template-columns: repeat (2, 1fr);
	grid-template-areas: "main aside";
	height: 100vh;
	width: 100vw;
	justify-items: center;
	align-items: center;
}

#conteudoMain {
	grid-area: main;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50vw;
	animation: up 1.5s;
}

#tituloAbas {
	text-align: center;
}

#bref {
	font-family: 'Oswald', sans-serif;
	font-size: 10em;
	margin: 0px;
	text-decoration: none;
	color: #FFC300;
}

#entrar {
	font-size: 15px;
}

#msgEntrar {
	text-align: center;
	display: none;
	font-size: 1.2em;
	margin-bottom: 1em;
}

.errorInput {
	box-shadow: 0px 0px 3px crimson !important; 
	border-color: crimson !important;
}

.fa-eye {
	cursor: pointer;
	color: #483A20;
}

#verSenha {
	position: relative;
	left: 21.8em;
  bottom: 2.3em;
}

#verSenhaCadastro {
	position: relative;
	left: 20.4em;
  bottom: 6.3em;
}

#verConfirmarSenha {
	position: relative;
	left: 20.3em;
  bottom: 3.3em;
}

label {
	text-decoration: solid;
}

input {
	width: 25em;
	margin: 0.4em 0;
	padding:10px;
	border-radius: 4px;
	text-indent: 0.1rem;
	border-width: 1px;
	outline: 0;
	background-color: #FFFFF4;
	border-style: solid;
}

input:invalid {
	border-color:crimson;
	box-shadow: 0 0 4px crimson;
}

input:focus {
	outline: none;
}

input:focus:invalid {
	box-shadow: none;
}


#cadastrar {
	display: flex;
	flex-direction: column;
}

#msgCadastro {
	text-align: center;
	display: none;
	font-size: 1.2em;
	margin-bottom: 1em;
}

#testebotao {
	display: flex;
	justify-content: center;
	
}

#btnEntrar {
	margin: 0px 0px 2px 0px;
	width: 20em;
	padding: 10px;
	color: #fff;
	border: 0px;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.4s all;
	display: none;
}

#btnCadastrar {
	width: 19em;
	padding: 10px;
	border: 0px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	transition: 0.4s all;
}

.botoes {
	background: #483A20;
	transition: 1.5s all;
}

#footerEntrar {
	text-align: center;
}

#footerCadastrar {
	text-align: center;
	position: relative;
	bottom: 24px;
}

#esqueceu-senha {
	height: 5px;
	color: darkred;
	text-decoration: none;
}

#esqueceu-senha:hover {
	text-decoration: underline;
}

#termos-condicoes {
	font-size: 12px;
}

aside {
	grid-area: aside;
	background-repeat: no-repeat;
	background-image: url("https://cdn.discordapp.com/attachments/965947265036455957/965947378102321202/unknown.png");
	width: 50vw;
	height: 100%;
}

/* #retangulo {
	display: block;
	position:absolute;
	background: #FFC300;
	width: 96%;
	height: 80px;
	bottom: 7%;
	right: 0;
	transition: 2s all;
} */

/* #retangulinho {
	display: block;
	position:absolute;
	background: #FFC300;
	width: 1.4%;
	height: 80px;
	bottom: 7%;
	left: 1%;
	transition: 2s all;
} */

#retangulao {
	background: #FFC300;
	width: 50vw;
	height: 100%;
	opacity: 0.1;
}

.links-abas > button {
	font-size: 22px;
	margin-top: 1em;
	margin-bottom: 15px;
}

.botoes:hover {
	background: rgb(110, 79, 22);
	transform: scale(1.01);	
}

button {
	color: #483A20;
	border: none;
	outline: none;
	background: none;
	position: relative;
	transition: 0.8s all;

}

button::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	height: 2px;
	width: 0%;
	background: #FFC300;
	transition: .2s;
}

button:hover {
	transform: scale(1.05);
}

button:hover::after,
button.active::after {
	width: 100%;
}

.conteudo-abas>section {
	animation: up 1s;
}

/* Animações */

@keyframes up {
	from {
			opacity: 0;
			transform: translateY(15px);
	}
	to {
			opacity: 1;
	}
}

@keyframes down {
	from {
			opacity: 1;
			transform: translateY(-15px);
	}
	to {
			opacity: 0;
	}
}

/* Responsividade */
@media (width: 912px){
	.container{
		display: flex;
		justify-content: center;
		align-content: center;
	}
	
	#background {
		background-image: url("https://cdn.discordapp.com/attachments/965947265036455957/965947378102321202/unknown.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 25%;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-content: center;
	}

	#retangulasso {
		background: #FFC300;
		width: 100vw;
		height: 100%;
		opacity: 0.1;
	}

	#conteudoMain{
		background: #FFFFF4;
		border-radius: 10px;
		transform: scale(1.6);
		position:absolute;
		top: 18.5em;
	}
	
	aside {
		display: none;
	}
}

/* Ipads */
@media (max-width: 820px){
	.container {
		display: flex;
		justify-content: center;
		align-content: center;
	}

	aside {
		display: none;
	}
}

@media 
	screen and (max-width: 769px),
	screen and (max-width: 481px){
	.container {
		display: flex;
		justify-content: center;
		align-content: center;
	}

	aside {
		display: none;
	}

	input {
		height: 1.5em;
	}

	#bref {
		font-size: 7em;
	}

	.links-abas {
		margin-top: 1em;
	}

	#abaEntrar,
	#abaCadastrar {
		margin-top: 0.1em;
	}
	
	#verSenhaCadastro {
		bottom: 7em;
	}

	#verConfirmarSenha {
		left: 20.4em;
    bottom: 3.57em;
	}

	#labelNome,
	#labelData,
	#labelEmail,
	#labelSenhaCadastro,
	#labelConfirmarSenha{
		font-size: 1.2em;
	}

	#btnEntrar,
	#btnCadastrar {
		font-size: 1em;
		height: 2.5em;
	}

	#termos-condicoes {
		font-size: .9em;
	}

	#esqueceu-senha {
		font-size: .9em;
	}
}

/* Smartphones */
@media (max-width: 320px){
	input{
		width: 21em;
	}

	#btnEntrar,
	#btnCadastrar {
		width: 18em;
	}

	#verSenha{
		left: 18em;
	}
	
	#verSenhaCadastro,
	#verConfirmarSenha {
		position: relative;
		left: 17em;
	}

}

/* Smartphones pequenos - Paisagem */
@media (max-width: 653px){
	body{
		width: 100%;
		height: 100%;
	}
}

/* Smartphones pequenos */
@media (max-width: 280px){
	#conteudoMain {
		transform: scale(0.7);
	};
}

/* Teste cel ruim da thaiça */
@media (max-width: 428px){
	.fa-eye{
		left: 14em;
	}
}