@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Oswald:wght@500&display=swap');

/* Ajustes Bootstrap */
* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

div.container-fluid {
    padding: 0;
}

/* CSS Corpo */
body {
    background-color: white;
    font-family: 'Lato', sans-serif;
}


.container-main {
    width: 100%;
}

/* application grid system */
#header {
    width: 100%;
    background-color: #483A20;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    color: white;
}

#hRight{
    flex: 50%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding: 1rem;
}

#barColor {
    height: 2em;
    background-color: #FFC300;
    display: flex;
    flex-direction: row;
}

.changeFontsButtons {
    font-size: 1em;
    background-color: #FFC300;
    border: outset;
    color: black;
    font-weight: bold;
    justify-content: flex-end;
}

.hRight{
    margin-left: 1rem;
    font-size: 1.4em;
}

#hLeft{
    flex: 50%;
    align-self: start;
}

#brefTitle {
    color: #FFC300;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 25px;
}

#formulary{
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 25px;
    align-content: center;
    flex: 50%;
}

#title{
    color: black;
    font-weight:bolder;
    align-content: start;
    font-size: 1em;
    margin-bottom: 0.8em;
}

.separator{
    flex: 15%;
}

#main{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 2rem 0;
}

.containerInfos{
    align-content: center;
    padding: 0;
}

.titleInfo {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    font-weight: bold;
    margin-left: 5px;
}

.inputInfo {
    padding: 8px;
    font-size: 0.6em;
    border-radius: 5px;
    border-color: gray;
    margin-bottom: 15px;
    width: 100%;
}

#msgInput{
    height: 200px;
    width: 100%;
}

.breffRight {
    color: #FFC300;
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

#separatorForm {
    display: flex;
    flex-direction: row;
}

#brefSeparator {
    flex: 20%;
    align-self: center;
    align-content: center;
}

.btn#btnEnviar{
    background-color: #483A20;
    color: white;
    border-radius: 10px;
    width: 100%;
    font-size: 0.6em;
    border-color: transparent;
    padding: 10px;
    align-items: center;
}