/* Ajustes Bootstrap */
* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

div.container-fluid {
    padding: 0;
}

/* CSS Corpo */
body {
    background-color: #FFFFF4;
    font-family: 'Lato', sans-serif;
    
}

.container-main {
    width: 100%;
    color: #483A20;
    background-color: #FFFFF4;
}

/* application grid system */
#header {
    width: 100%;
    background-color: #483A20;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    color: white;
}

#hRight{
    flex: 50%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding: 1rem;
}

#barColor {
    height: 2em;
    display: flex;
    flex-direction: row;
    background-color: #FFC300;
}

.changeFontsButtons {
    font-size: 1em;
    border: outset;
    font-weight: bold;
    justify-content: flex-end;
    color: #483A20  ;
    background-color: #FFC300;
    border: none;
}

.changeFontsButtons:hover {
    color: #FFFFF4;
    background-color: #483A20;
}

.hRight{
    margin-left: 1rem;
    font-size: 1.4em;
}

#hLeft{
    flex: 50%;
    align-self: start;
}

#brefTitle {
    color: #FFC300;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 25px;
}

#formulary{
    font-size: 1.7em;
    font-family: 'Lato', sans-serif;
    align-content: center;
    flex: 50%;
}

#title{
    color: #483A20;
    font-weight:bolder;
    align-content: start;
    font-size: 1em;
    margin-bottom: 0.8em;
}

.separator{
    flex: 15%;
}

#main{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 2rem 0;
}

.containerInfos{
    align-content: center;
    padding: 0;
}

.titleInfo {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    font-weight: bold;
    margin-left: 5px;
}

.inputInfo {
    width: 325px;
	margin: 5px;
	outline: 0;
	padding: 0;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	background-color: #FFFFF4;
}

#msgInput{
    height: 200px;
    width: 100%;
    background-color: #FFFFF4;
}

.breffRight {
    color: #FFC300;
    padding: 0;
    margin: 0px 0px 0px -70px;
    font-size: 10em;
    font-family: 'Oswald', sans-serif;
}

#separatorForm {
    display: flex;
    flex-direction: row;
}

#brefSeparator {
    flex: 20%;
    align-self: center;
    align-content: center;
}

.btn#btnEnviar {
    margin: 0px 0px 0px 45px;
	border-radius: 4px;
	border: none;
	width: 250px;
	padding: 5px;
	cursor: pointer;
    transition: 0.4s all;   
    color: #fff;
    background: #483A20;
}

.btn#btnEnviar:hover {
    background: rgb(110, 79, 22);
	transform: scale(1.01);
}