/* Alterações (Gabriel) */
/* Ajustes Bootstrap */
* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

div.container-fluid {
    padding: 0;
}

div.row{
    margin: 0;
}

/* Conteúdo principal  */
body {
    background-color: #271e07;
    font-family: 'Lato', sans-serif;
   /*  height: 100vh;
    width: 100vw; */
}

.container-main {
    height: 95%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 4% 20% 75% 1%;
    row-gap: 5px;
}

#l-conteudo{
    background: #FFFFF4
}

/* header  cabeçalho */
#header{
    background-color: #271e07;
    display: flex;
    align-items: center;
}

#header .col-md-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Barra de apresentação */
/* 

#barra-apresentacao > div.card-img{
    height: 350px;
    background: rgb(0,0,0) url('../imgs/index/background-card-apresentacao.jpg') center;
    background: -moz-linear-gradient(207deg, rgba(0,0,0,0) 70%, rgba(0,0,0,0.32566530029980745) 94%) url('../imgs/index/background-card-apresentacao.jpg')center;
    background: -webkit-linear-gradient(207deg, rgba(0,0,0,0) 70%, rgba(0,0,0,0.32566530029980745) 94%) url('../imgs/index/background-card-apresentacao.jpg') center;
    background: linear-gradient(207deg, rgba(0,0,0,0) 70%, rgba(0,0,0,0.32566530029980745) 94%) url('../imgs/index/background-card-apresentacao.jpg') center;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#barra-apresentacao > div.card-img-overlay{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(207deg, rgba(0,0,0,0) 70%, rgba(0,0,0,0.32566530029980745) 94%);
    background: -webkit-linear-gradient(207deg, rgba(0,0,0,0) 70%, rgba(0,0,0,0.32566530029980745) 94%);
    background: linear-gradient(207deg, rgba(0,0,0,0) 70%, rgba(0,0,0,0.32566530029980745) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);

    padding: 2.25rem;
    color: #483A20;
}

#barra-apresentacao > div.card-img-overlay > h2.card-title{
    font-weight: bold;
}

#barra-apresentacao > div.card-img-overlay > p.card-text{
    font-size: large;
}
 */

 .linha-vertical {
    height: auto; 
    padding: 10px;
    background: rgb(0,0,0);
background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 49%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 51%);
background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 49%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 51%);
background: linear-gradient(90deg, rgba(0,0,0,0) 49%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 51%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  }

#barra-apresentacao{
    background-color: #FFC300;
    color: #483A20;
    height: 300px;
}

#barra-apresentacao .col-md-12{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#barra-apresentacao ul {
    padding-inline-start: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#barra-apresentacao ul li{
    float: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#barra-apresentacao ul li p{
    font-weight: bolder;
    padding-top: 1rem;
}

#barra-apresentacao ul li a{
    text-decoration: none;
    color: #FFC300;
}

/* Cards de demonstração */
#cards-demo{
    margin: 0 20px 40px 20px;
}

#cards-demo .col-md-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#cards-demo-text{
    margin-top: 20px;
    margin-left: 20px;
}


/* Fim alterações (Gabriel) */

/* application grid system */
header {
    background-color: #271e07;
    text-align: center;
    display: grid;
    color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 6px;
}

/* options in header */
#sobre {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: white;
    text-decoration: none;
}

#fale {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    color: white;
    text-decoration: none;
}

#entrar {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    color: white;
    text-decoration: none;
}

#pesq {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    color: white;
    text-decoration: none;
}

.form-control{
    width: 60%!important;
}
@media(min-width: 576px){
.form-control{
    width: 360px!important;
}
}



/* logo */
#bref {
    text-align: center;
    color: #483A20;
    background-color: #FFC300;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

#name {
    font-size: 65px;
    font-family: 'Oswald', sans-serif;
}

/* places list */
#places {
    background-color: white;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 1px;
}

#place1 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#place2 {
    text-align: center;
    background-color: white;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

#place3 {
    text-align: center;
    background-color: white;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}

.place-img {
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* footer */
/* footer {
    height: 20px;
    background-color: #271e07;
    display: grid;
    color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
}
#mail {
    height: 20px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

#phone {
    height: 20px;
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
}
 */

 /* Alterações Lucas */
#btnPesquisar {
    color: #483A20;
    border-color:#483A20;
}

#btnPesquisar:hover {
    color: #FFFFF4;
    background: rgb(110, 79, 22);
}

#l-conteudo {
    color: #483A20;
    background: #FFFFF4;    
    padding: 20px 40px 20px 40px;
}

#pesq_bar {
    background: #FFFFF4;
    border-color: #483A20;
}