@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Oswald:wght@500&display=swap');

body {
    background-color: #483A20;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100vw;
}

.container {
    height: 95%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 4% 20% 75% 1%;
    row-gap: 5px;
}

/* application grid system */
header {
    background-color: #483A20;
    text-align: center;
    display: grid;
    color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 6px;
}

/* options in header */
#sobre {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: white;
    text-decoration: none;
}

#fale {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    color: white;
    text-decoration: none;
}

#entrar {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    color: white;
    text-decoration: none;
}

#pesq {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    color: white;
    text-decoration: none;
}

/* logo */
#bref {
    text-align: center;
    color: #483A20;
    background-color: #FFC300;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

#name {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: -20px;
    margin-top: 10px;
}

/* places list */
#places {
    background-color: white;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 1px;
}

#place1 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#place2 {
    text-align: center;
    background-color: white;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

#place3 {
    text-align: center;
    background-color: white;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}

.place-img {
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* footer */
footer {
    height: 20px;
    background-color: #483A20;
    display: grid;
    color: white;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
}
#mail {
    height: 20px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

#phone {
    height: 20px;
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
}
