/* Ajustes Bootstrap */
* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

div.container-fluid {
    padding: 0;
}

.marginRow{
    margin:0px !important; 
}

body {
    display: grid;
    background-color: aliceblue;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 99vw;
    color:#FFC300;
    margin-left: 0px;
    margin-right: 0px;
}

#bref {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 5vh;
    font-stretch: condensed;
    margin-left: 40px;
    color: #FFC300;
    align-items: center;
}

#head {
    background-color: #271e07;
    height: 8vh;
}

#yellow {
    background-color: #FFC300;
    height: 4.5vh;
}

#restaurant {
    background-color: aliceblue;
    height: 28vh;
}

/* text retangule layout */
#restname {
    font-size: 3vh;
    display: grid;
    align-content: center;
    text-align: center;
    background-color: #F4B11E;
    color: white;
    border-radius: 5px;
}

#subtitle1 {
    font-size: 2.5vh;
    display: grid;
    align-content: center;
    text-align: center;
    background-color: #F4B11E;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

#subtitle2 {
    font-size: 2.5vh;
    align-content: center;
    text-align: center;
    background-color: #f4b01ea4;
    color: white;
    border-radius: 5px;
    margin-top: 1vh;
}

#subtitle2 b {
    margin-left: 10px;
}

#subtitle3 {
    font-size: 2.5vh;
    align-content: center;
    text-align: center;
    background-color: #f4b01ea4;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

#subtitle3 b {
    margin-left: 10px;
}

#column1 {
    padding-right: 50px;
}

#buttom1 {
    font-size: 2.5vh;
    display: grid;
    align-content: center;
    text-align: center;
    background-color: #F4B11E;
    color: white;
    border-radius: 5px;
    margin-top: 7px;
    height: 6vh;
}

#rest-img {
    display: inline-block;
    width: 14vw;
    height: 25vh;
    border-radius: 8px;
}

#item-img1, #item-img2, #item-img3 {
    display: inline-flex;
    height: 13.5vh;
    width: 7vw;
    text-align: center;
    align-content: center;
    margin-top: 10px;
    margin-left: -50px;
    border-radius: 8px;
} 

#menuType {
    font-size: 3vh;
    background-color: #271e07;
    height: 5vh;
    color: white;
    text-align: center;
    align-content: center;
}

#middle_menu {
    background-color: #271e07;
    border: 0px;
    color: white;
}

#menu {
    background-color: #FFF;
    height: 55vh;
    align-content: center;
}

#menuline1 {
    margin-left: 20px;
    margin-right: 10px;
    background-color: rgb(245, 240, 240);
    height: 16.5vh;
    border-radius: 5px;
}

#menuline2 {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 20px;
    margin-right: 10px;
    background-color: rgb(245, 240, 240);
    height: 16.5vh;
    border-radius: 5px;
}

#menuseparator {
    height: 12px;
}

#sep02 {
    display: none;
}

#footer {
    width: 101%;
}

@media screen and (max-width: 755px) {

    * {
        font-size: 15px;
    }

    #head {
        height: 50px;
    }

    #yellow {
        height: 20px;
    }

    #bref {
        font-size: 25px;
    }

    div.container-fluid {
        display: contents;
        padding: 0;
    }

    #rest-img {
        display: none;
        width: 0px;
        height: 0px;
    }

    #item-img1, #item-img2, #item-img3 {
        display: none;
        height: 0px;
        width: 0px;
    } 

    #restname {
        margin-top: -55px;
    }

    #subtitle2 {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    #column1 {
        padding-right: 15px;
    }

    #buttom1 {
        margin-left: 10%;
        width: 80%;
        height: 23px;
        margin-top: 1px;
        margin-bottom: 1px;

    }

    #sep02 {
        display: block;
    }

    #menuType {
        display: block;
    }

    #menuType div {
        display: inline;
    }

    #item-img {
        display: none;
        height: 0px;
        width: 0px;
    }

    #menu {
        display: inline;
    }

    #menuline1 {
        background-color: white;
        margin-left: 20px;
        margin-right: 10px;
        border-radius: 5px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    
    #menuline2 {
        margin-top: 1px;
        margin-bottom: 1px;
        background-color: white;
        margin-left: 20px;
        margin-right: 10px;
        border-radius: 5px;
    }

    #subtitle1, #subtitle3 {
        height: 25px;
        margin-top: 1px;
    }
}    