/* Ajustes Bootstrap */
* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

div.container-fluid {
    padding: 0;
}

.marginRow{
    margin:0px !important; 
}

body {
    display: grid;
    background-color: aliceblue;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 99vw;
    color:#FFC300;
    margin-left: 0px;
    margin-right: 0px;
}

#bref {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 5vh;
    font-stretch: condensed;
    margin-left: 40px;
    color: #FFC300;
    align-items: center;
}

#head {
    background-color: #271e07;
    height: 8vh;
}

#yellow {
    background-color: #FFC300;
    height: 4.5vh;
}

#restaurant {
    background: rgb(245, 240, 240);
    height: 28vh;
}

/* text retangule layout */
#restname {
    color: #483A20;
    font-size: 3vh;
    display: grid;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

#subtitle1 {
    color: #271e07;
    font-size: 2.5vh;
    display: grid;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}



#subtitle2 b {
    margin-left: 10px;
}

#subtitle3 b {
    margin-left: 10px;
}

#column1 {
    padding-right: 50px;
}

#rest-img {
    display: inline-block;
    width: 14vw;
    height: 25vh;
    border-radius: 8px;
}

#item-img1, #item-img2, #item-img3 {
    display: inline-flex;
    height: 13.5vh;
    width: 7vw;
    text-align: center;
    align-content: center;
    margin-top: 10px;
    margin-left: -50px;
    border-radius: 8px;
} 

#menuType {
    font-size: 3vh;
    background-color: #271e07;
    height: 5vh;
    color: white;
    text-align: center;
    align-content: center;
}

#middle_menu {
    background-color: #271e07;
    border: 0px;
    color: white;
}

#menu {
    background-color: #FFF;
    height: 55vh;
    align-content: center;
}

#menuline1 {
    margin-left: 20px;
    margin-right: 10px;
    background-color: rgb(245, 240, 240);
    height: 16.5vh;
    border-radius: 5px;
}

#menuline2 {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 20px;
    margin-right: 10px;
    background-color: rgb(245, 240, 240);
    height: 16.5vh;
    border-radius: 5px;
}

#menuseparator {
    height: 12px;
}

#sep02 {
    display: none;
}

#footer {
    width: 101%;
}

@media screen and (max-width: 755px) {

    * {
        font-size: 15px;
    }

    #head {
        height: 50px;
    }

    #yellow {
        height: 20px;
    }

    #bref {
        font-size: 25px;
    }

    div.container-fluid {
        display: contents;
        padding: 0;
    }

    #rest-img {
        display: none;
        width: 0px;
        height: 0px;
    }

    #item-img1, #item-img2, #item-img3 {
        display: none;
        height: 0px;
        width: 0px;
    } 

    #restname {
        margin-top: -55px;
    }

    #subtitle2 {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    #column1 {
        padding-right: 15px;
    }

    #sep02 {
        display: block;
    }

    #menuType {
        display: block;
    }

    #menuType div {
        display: inline;
    }

    #item-img {
        display: none;
        height: 0px;
        width: 0px;
    }

    #menu {
        display: inline;
    }

    #menuline1 {
        background-color: rgb(245, 240, 240);
        margin-left: 20px;
        margin-right: 10px;
        border-radius: 5px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    
    #menuline2 {
        margin-top: 1px;
        margin-bottom: 1px;
        background-color: rgb(245, 240, 240);
        margin-left: 20px;
        margin-right: 10px;
        border-radius: 5px;
    }

    #subtitle1, #subtitle3 {
        height: 25px;
        margin-top: 1px;
    }
}    



/* Alterações Lucas */
button {
    color: #FFFFF4;
    background: #271e07;
    width: 11.5em;
    height: 2.3em;
    border: 0;
    border-radius: 4px;
    margin-right: 5px;
	transition: 1.0s all;
}

button:hover {
    background: rgb(110, 79, 22);
    transform: scale(1.01)
}

#namePlate1,
#namePlate2,
#namePlate3 {
    color: #271e07;
    align-items: center;
    background: none;
}

#preco1,
#tempo1,
#classi1,
#preco2,
#tempo2,
#classi2,
#preco3,
#tempo3,
#classi3 {
    color: #271e07;
}

#sep01 {
    background: rgb(245, 240, 240);
}

#subtitle2 {
    display: flex;
    font-size: 1.3em;
    margin: 2px;
    padding: 1px;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    border-radius: 3px;
    border: solid 2px #483A20;
    color: #271e07;
}

#subtitle3 {
    display: flex;
    margin: 2px;
    padding: 2.5px;
    font-size: 1.25em;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    border-radius: 3px;
    border: solid 2px #483A20;
    color: #271e07;
}