@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Oswald:wght@500&display=swap');

/* Ajustes Bootstrap */
* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

div.container-fluid {
    padding: 0;
}

/* CSS Conteúdo principal */
.container-main {
    height: 100%;
}

body {
    background: #FFFFF4;
    height: 100vh;
}

header {
    background: #483A20;
}

#header {
    width: 100%;
    background-color: #483A20;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}

.changeFontsButtons {
    font-size: 1em;
    background-color: #FFC300;
    border: outset;
    color: #483A20;
    font-weight: bold;
    justify-content: flex-end;
}

#barColor {
    height: 2em;
    background-color: #FFC300;
    display: flex;
    flex-direction: row;
}

#hRight {
    flex: 50%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding: 1rem;
}

#brefTitle {
    color: #FFC300;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 25px;
    font-weight:bold;
}

.hRight {
    margin-left: 1rem;
    font-size: 1.4em;
}

#hLeft {
    flex: 50%;
    align-self: start;
}

.o-header {
    color: #FFC300;
    text-decoration: none;
    font-size: 10em;
    font-family: 'Oswald', sans-serif;
    padding-left: 25px;
}

.page-title {
    color: #FFC300;
    font-size: 6em;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

#o-main {
    background-color: #FFFFF4;  
    color: #483A20;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.content{
    height: 1000px;
}

input {
    width: 20em;
    margin: 5px;
    padding: 6px;
    border-radius: 4px;
    text-indent: 0.1rem;
    border-width: 1px;
    outline: 0;
    background-color: #FFFFF4;
    border-style: solid;
}
  
input:invalid {
    border-color: crimson;
    box-shadow: 0px 0px 3px crimson;
}
  
input:focus {
    outline:none;
}
  
input:focus:invalid {
    box-shadow:none;
}

.botoes {
	background: #483A20;
	transition: 1.5s all;
}

.botoes:hover {
	background: rgb(110, 79, 22);
	transform: scale(1.01);
}

#btnEmail {
    border-radius: 4px;
    border: 0px;
    width: 262px;
    padding: 6px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s all;
}

.form-group {
    display: block;
}

.oculta {
    text-align: center;
    display: none;
}

.button {
    cursor: pointer;
    background: #483A20;
    transition: 0.8s all;
    color: #fff;
    border: 0px;
    font-size: 1em;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 15em;
    padding: 0.5em 2em;
}

.button:hover {
    background: rgb(110, 79, 22);
    transform: scale(1.01);
    font-size: 1em;
}

#possuiConta {
    color: darkred;
    height: 5px;
    text-decoration: none;
}

#possuiConta:hover{
    text-decoration: underline;
}

/*.form-group {
    margin:7px auto;
}
  
#items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {
    height: 2em;
    background: #FFC300;
    bottom: 0px;
}

#footer-links {
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 5rem;
    
}

#footer-copyright {
    justify-content: center;
    padding-left: 1rem;
}*/






