/* Ajustes Bootstrap */
* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

div.container-fluid {
    padding: 0;
}

/* CSS Conteúdo principal */
.container-main {
    height: 100%;
    background: #FFFFF4;
}
#corpao {
    height: 100vh;
}

body {
    height: 100vh;
}

header {
    background: #271e07;
}

#header {
    width: 100%;
    background-color: #271e07;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}

.changeFontsButtons {
    font-size: 1em;
    border: outset;
    font-weight: bold;
    justify-content: flex-end;
    color: #483A20  ;
    background-color: #FFC300;
    border: none;
}

.changeFontsButtons:hover {
    color: #FFFFF4;
    background-color: #271e07;
}

#barColor {
    height: 2em;
    background-color: #FFC300;
    display: flex;
    flex-direction: row;
}

#hRight {
    flex: 50%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding: 1rem;
}

#brefTitle {
    color: #FFC300;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 25px;
    font-weight:bold;
}

.hRight {
    margin-left: 1rem;
    font-size: 1.4em;
}

#hLeft {
    flex: 50%;
    align-self: start;
}

.o-header {
    color: #FFC300;
    text-decoration: none;
    font-size: 10em;
    font-family: 'Oswald', sans-serif;
    padding-left: 25px;
}

.page-title {
    color: #FFC300;
    font-size: 6em;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

#items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#o-main {
    background-color: #FFFFF4;  
    color: #483A20;
    text-align: center;
    margin-bottom: -100px;
    font-family: 'Lato', sans-serif;
    height: 76vh;
}

.content{
    height: 1000px;
}

input {
    width: 20em;
    padding: 6px;
    border-radius: 4px;
    text-indent: 0.1rem;
    border-width: 1px;
    outline: 0;
    background-color: #FFFFF4;
    border-style: solid;
}

.fa-eye {
    position: absolute;
}

#togglePassword {
    cursor: pointer;
	color: #483A20;
    position: relative;
    left: 8.5em;
    bottom: 5.75em;
}

#secondtogglePassword{
    cursor: pointer;
	color: #483A20;
    position: relative;
    left: 8.5em;
    bottom: 3.5em;
}


#novaSenha{
    margin: 2px;
}

input:invalid {
    border-color: crimson;
    box-shadow: 0px 0px 3px crimson;
}


input:focus {
    outline:none;
}
  
input:focus:invalid {
    box-shadow:none;
}

#btnEmail.botoes {
    margin: 25px;
}

.botoes {
	background: #271e07;
	transition: 1.5s all;
}

.botoes:hover {
	background: rgb(110, 79, 22);
	transform: scale(1.01);
}

#btnEmailEnviado {
    border-radius: 4px;
    border: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 262px;
    padding: 6px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s all;
}

#btnConfirmarNovaSenha {
    border-radius: 4px;
    border: 0px;
    margin-top: -45px;
    margin-bottom: 20px;
    width: 262px;
    padding: 6px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s all;
}



.button {
    cursor: pointer;
    background: #271e07;
    transition: 0.8s all;
    color: #fff;
    border: 0px;
    font-size: 1em;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 15em;
    padding: 0.5em 2em;
}

.button:hover {
    background: rgb(110, 79, 22);
    transform: scale(1.01);
    font-size: 1em;
}

#possuiConta {
    color: crimson;
    height: 5px;
    text-decoration: none;
    font-weight: bold;
}

#NPC {
    font-weight: bold;
    font-size: 1.14em;
    
}

#possuiConta:hover{
    text-decoration: underline;
}

#footer-links {
    justify-content: space-between;
}






