@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Oswald:wght@500&display=swap');

/* Ajustes Bootstrap */
* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

div.container-fluid {
    padding: 0;
}

.breff {
    color: #FFC300;
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

#link .btn {
    background-color: #483A20;
    color: white;
    border-radius: 4px;
    width: 20em;
    font-size: 1em;
    border-color: transparent;
    padding: 10px;
    align-items: center;
    margin-bottom: 150px;
}

  .container {
    background: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
  } 

  img {
    width: 9%;
    margin-bottom: 3%;
    margin-top: 2%;
  }

/* Zoom area */

#barColor {
    height: 2em;
    background-color: #FFC300;
    display: flex;
    flex-direction: row;
}

#logo-bref .btnHeader {
    background-color: transparent;
    color: #FFC300;
    width: 100%;
    font-size: 1em;
    border-color: transparent;
    align-items: center;
    margin: 0;
}

.changeFontsButtons {
  font-size: 1em;
  border: outset;
  font-weight: bold;
  justify-content: flex-end;
  color: #483A20;
  background-color: #FFC300;
  border: none;
}

.changeFontsButtons:hover {
  color: #FFFFF4;
  background-color: #483A20;
}

/* end zoom area */

  p {
    margin: 9px 0px 9px 0px;  
    font-size: 1.3em;
    color: #483a20;
    font-weight: bold
  }

  #reservaConc{
    color: #483a20;
    font-weight: bold;
  }
#footer-copyright {
    font-size: 1em;
}
/* footer margin */
#footer-container {
    margin-bottom: 15px;
}

#reservaConc{
  font-weight: bold;
  color: #483A20;
}
