@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Oswald:wght@500&display=swap');

* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body{
    background-color: #FFFFFA;
}


/* Classe do container */
div.container-fluid {
    padding: 0;
}


/* Logo BREF */
#logo-bref {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-stretch: condensed;
    color: #FFC300;
    padding-left: 30px;
}


/* Barra de Navegação */ 
div.collapse.navbar-collapse#navbarSupportedContent > ul.navbar-nav.mr-auto
{
    margin-right: 0!important;
    margin-left: auto;
    padding: 12px 0;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #483A20!important;
}


/* links da barra de navegação */
div.collapse.navbar-collapse#navbarSupportedContent > ul.navbar-nav.mr-auto > li > a {
    color: #FFC300;
}


/* Barra sub Navegação */ 
div.row.sub-nav {
    background-color: #FFC300;
    text-align: right;
}


/* Rows do container-fluid */
div.container-fluid > div.row {
    width: inherit;
    padding: 0;
    margin: 0;
}

div.container-fluid > div.row > div.col-md-3 {
    padding: 0;
}


/* Bloco de Boas-vindas */
div.container-fluid > div.row > div.col-md-12.boas-vindas {
    height: 650px;
    padding: 15px 0;
    background: rgb(255,195,0), url('../imgs/background-sobre-nos.jpg')  center;
    background: -moz-linear-gradient(180deg, rgba(255,195,0,0) 79%, rgba(255,195,0,1) 100%), url('../imgs/background-sobre-nos.jpg')  center;
    background: -webkit-linear-gradient(180deg, rgba(255,195,0,0) 79%, rgba(255,195,0,1) 100%), url('../imgs/background-sobre-nos.jpg')  center;
    background: linear-gradient(180deg, rgba(255,195,0,0) 79%, rgba(255,195,0,1) 100%), url('../imgs/background-sobre-nos.jpg')  center;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc300",endColorstr="#ffc300",GradientType=1);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

div.container-fluid > div.row > div.col-md-12.boas-vindas > div {
    background-color: transparent;
    box-shadow: #483A20;
    width: fit-content;
    margin: 180px 0 0 130px;
}

div.container-fluid > div.row > div.col-md-12.boas-vindas > div > h1 {
    color: #FFFFFA;
}

div.container-fluid > div.row > div.col-md-12.boas-vindas > div > p {
    padding-top: 10px;
    font-size: 1.2rem;
    color: #FFFFFA;
}


/* Blocos de Nossos Valores */
div.container-fluid > div.row > div.row {
    background-color: #FFC300;
    margin: 0;
    width: inherit;
}

div.container-fluid > div.row > div.row > div.col-md-12.nossos-valores {
    padding-top: 40px;
    padding-left: 65px;
    
}

div.container-fluid > div.row > div.row > div.col-md-12.nossos-valores > h2.font-weight-bold {
    color: #483A20;
    text-shadow: 0 1px 1px #483A20;
}

div.container-fluid > div.row > div.row > div.card-deck{
    margin: auto;
    padding: 35px 0 45px 0;
    background-color: #FFC300;
}

div.container-fluid > div.row > div.row > div.card-deck > div.card {
    max-width: 430px;
    margin: 0 50px;
}

div.container-fluid > div.row > div.row > div.card-deck > div.card > div.card-body{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7150210425967262) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7150210425967262) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7150210425967262) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    color: #FFFFFA;
}

#card1{
    background: url('../imgs/simplicidade-sobre-nos.jpg') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#card2{
    background: url('../imgs/praticidade-sobre-nos.jpg') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#card3{
    background: url('../imgs/confianca-sobre-nos.jpg') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.espaco-vazio{
    vertical-align: middle;
    width: 100%;
    height: 400px;
}


/* Bloco Nossa Missao */
#img-missao{
    padding: 0;
    height: 500px;
    background: url('../imgs/img-missao-sobre-nos.jpg') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#texto-missao{
    margin: auto;
}


/* Rodape */
#footer{
    background-color: #483A20;
    height: 300px;
    margin: auto;
}

#footer .col-md-12{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer #logo-bref {
    padding-left: 0;
    margin: 0;
}

#footer #first-column {
    padding-inline-start: 40px;
    padding-top: 20px;
}

#footer ul {
    padding-inline-start: 0;
    margin: 0;
}

#footer ul li{
    float: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#footer ul li a{
    text-decoration: none;
    color: #FFC300;
}

#footer .share{
    padding-top: 10px;
}

#footer .share li{
    float: none;
    display: inline-block;
    width: 34px;
    height: 34px;
}

#facebook-icon{
    background: url('../imgs/rodape/facebook.png') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#twitter-icon{
    background: url('../imgs/rodape/twitter.png') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#instagram-icon{
    background: url('../imgs/rodape/instagram.png') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


#footer #footer-links {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 15px;
}

.footer-ponto {
    color: #FFFFFA;
    font-size: 8px;
    text-align: center;
    padding: 0 8px;
}

#footer-copyright{
    color: #755f36;
    font-weight: bold;
    padding-top: 15px;
}