@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Oswald:wght@500&display=swap');

* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body{
    background-color: #FFFFFA;
}

/* Classe do container */
div.container-fluid {
    padding: 0;
}

/* Logo BREF */
nav.navbar.navbar-expand-lg.navbar-light.bg-light > a.navbar-brand {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-stretch: condensed;
    color: #FFC300;
    padding-left: 30px;
}

/* Barra de Navegação */ 
div.collapse.navbar-collapse#navbarSupportedContent > ul.navbar-nav.mr-auto
{
    margin-right: 0!important;
    margin-left: auto;
    padding: 12px 0;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #483A20!important;
}

/* links da barra de navegação */
div.collapse.navbar-collapse#navbarSupportedContent > ul.navbar-nav.mr-auto > li > a {
    color: #FFC300;
}

/* Barra sub Navegação */ 
div.row.sub-nav {
    background-color: #FFC300;
    text-align: right;
}

/* Rows do container-fluid */
div.container-fluid > div.row {
    width: inherit;
    padding: 0;
    margin: 0;
}

div.container-fluid > div.row > div.col-md-3 {
    padding: 0;
}

/* Bloco de Boas-vindas */

div.container-fluid > div.row > div.col-md-12.boas-vindas {
    height: 650px;
    padding: 15px 0;
    background: rgb(255,195,0), url('../imgs/background-sobre-nos.jpg')  center;
    background: -moz-linear-gradient(180deg, rgba(255,195,0,0) 71%, rgba(255,195,0,1) 100%), url('../imgs/background-sobre-nos.jpg')  center;
    background: -webkit-linear-gradient(180deg, rgba(255,195,0,0) 71%, rgba(255,195,0,1) 100%), url('../imgs/background-sobre-nos.jpg')  center;
    background: linear-gradient(180deg, rgba(255,195,0,0) 71%, rgba(255,195,0,1) 100%), url('../imgs/background-sobre-nos.jpg')  center;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc300",endColorstr="#ffc300",GradientType=1);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

div.container-fluid > div.row > div.col-md-12.boas-vindas > div {
    background-color: transparent;
    box-shadow: #483A20;
    width: fit-content;
    margin: 180px 0 0 130px;
}

div.container-fluid > div.row > div.col-md-12.boas-vindas > div > h1 {
    color: #FFFFFA;
}

div.container-fluid > div.row > div.col-md-12.boas-vindas > div > p {
    padding-top: 10px;
    font-size: 1.2rem;
    color: #FFFFFA;
}

/* Blocos de Nossos Valores */

div.container-fluid > div.row > div.row {
    background-color: #FFC300;
    margin: 0;
    width: inherit;
    
}
div.container-fluid > div.row > div.row > div.col-md-12.nossos-valores{
    padding-top: 30px;
}

div.container-fluid > div.row > h1.nossos-valores{
    background-color: #FFC300;
}

div.container-fluid > div.row > div.row > div.card-deck{
    margin: 0;
    padding: 50px 0 20px 0;
    background-color: #FFC300;
}