* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body{
    background-color: #FFFFFA;
}

/* Classe do container */
div.container-fluid {
    padding: 0;
}

/* Logo BREF */
nav.navbar.navbar-expand-lg.navbar-light.bg-light > a.navbar-brand {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 35px;
    font-stretch: condensed;
    color: #FFC300;
    padding-left: 30px;
}

/* Barra de Navegação */ 
div.collapse.navbar-collapse#navbarSupportedContent > ul.navbar-nav.mr-auto
{
    margin-right: 0!important;
    margin-left: auto;
    padding: 12px 0;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #483A20!important;
}

/* links da barra de navegação */
div.collapse.navbar-collapse#navbarSupportedContent > ul.navbar-nav.mr-auto > li > a {
    color: #FFC300;
}

/* Barra sub Navegação */ 
div.row.sub-nav {
    
    background-color: #FFC300;
    text-align: right;
    margin-bottom: 10px;
}

/* Conteúdo, textos, imagens */
div.container-fluid > div.row {
    width: auto;
    padding: 15px 0;
}

div.container-fluid > div.row.col-md-3 {
    padding: 0;
}